
*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url(../static/images/back-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
